<hr>
<nav>
    <a class="<%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
    <a class="<%= activePage === 'how_it_works' ? 'active' : '' %>" href="how_it_works">How It Works</a>
    <a class="<%= activePage === 'applications' ? 'active' : '' %>" href="applications">Applications</a>
    <a class="<%= activePage === 'challenges_and_future' ? 'active' : '' %>" href="challenges_and_future">Challenges & Future</a>
    <a class="<%= activePage === 'news_feed' ? 'active' : '' %>" href="news_feed">News Feed</a>
</nav>
<br><br>